[Unit]
Description=Homework Event App

[Service]
Type=simple
User=event_app_spa
Group=event_app_spa
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4795
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/event_app_spa/cs4550_event_app_spa/event_app_server
ExecStart=/bin/bash /home/event_app_spa/cs4550_event_app_spa/event_app_server/start.sh

[Install]
WantedBy=multi-user.target
